/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

header > div.navbar-collapse > div > nav > ul {
    padding-top: 5px;
    float: right;
    display: inline-flex;
}

h1  {
    font-size: 20px;
}

label {
    color: gray;
    padding-right: 10px;
}

div.form-actions {
    padding-left: 10px;
}
div.form--inline div.form-actions > button {
    margin-right: 0px;
}

div.view-filters {
    text-align: end;
}

body.path-equipos {
    background-color: rgba(0,0,0,.05);
}

div.views-col {
    padding: 0px 20px 20px 0px;
}

article.panel-default div.panel-body {
    min-height: 300px;
}

article.panel-default h2.panel-heading {
    background-color: white;
}

article.panel-default h2.panel-heading a {
    text-decoration: none;
}

div.field--name-field-image-team a > img.img-responsive {
    margin: 0 auto;
    width: auto;
    max-height: 200px;
}

div.field--name-body {
    margin-top: 20px;
}

div.field--name-body > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}


.form-inline select.form-control {
    width: 200px;
}

@media screen and (max-width: 768px) {
    .form-inline select.form-control {
        width: 102px;
    }
}
