<div class="container">
  <div class = "jumbotron">
    <div class = "container">
      <div class = "col--xs-6 col-sm-4">
        <img class = "img-responsive" src = "{{ data.artist.images[0].url }}" width=200 height=200>
      </div>
      <div class="col--xs-6 col-sm-8">
        <h5><strong>NOMBRE</strong></h5>
        <div>{{ data.artist.name }}</div>

        <h5><strong>SEGUIDORES</strong></h5>
        <div>{{ data.artist.followers.total }}</div>

        <div class="row">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            Reproducir
          </button>
          <button type="button" class="btn btn-default">Siguiendo</button>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Foto del álbum</th>
        <th>Nombre del álbum</th>
        <th>Canción</th>
      </tr>
      {% for album in data.items %}
        <tr>
          <td>
            <img class="img-responsive" src="{{ album.images[0].url }}" width="100" height="100">
          </td>
          <td>{{ album.name }}</td>
          <td>{{ album.name }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
