<div class="container">
	<h4> {{ data.title }} </h4>

  <div class = "featured-list-row row">
    {% for item in data.items %}
      <div class = "col-xs-6 col-sm-4">
        <div class = "panel panel-default">
          <div class = "panel-body">
            <img class = "img-responsive" src = "{{ item.images[0].url }}" width="200" height="200">
          </div>
          <div class = "panel-footer">
            <h4 class = "text-white">{{ item.name }}</h4>

            <div>
              {% for artist in item.artists %}
                <div class="text-muted">
                  <a href="/artist/{{ artist.id }}">
                    {{ artist.name|trim }}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
