/* CSS - Featured page */

div.panel-footer > h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

div.featured-list-row > div {
    margin-bottom: 20px;
}

div.featured-list-row div.panel-body > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.panel-footer > div {
    display: flex;
}

div.panel-footer > div > div::after {
    content: ',';
    padding-right: 4px;
}

div.panel-footer > div > div:last-child::after {
    content: '';
}
